/* .App {

   /* text-align: center; */

/* .tarjetas {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-content: center;
   /* margin-top: 10%; */
   /* margin-left: 10px; */
   /* .Cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
   } */
/* } */


body {
   background-image: url("./Imagenes/fondo.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
   margin:0%
}


