.contenedor {
    display: flex;
    flex-direction: row;
    gap: 18%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 100px;
}

.conimg {
    .imagen {
        border-radius: 50%;
        width: 100%;
        box-shadow: 0 0 10px 5px #9fff02;
        background-color: #0b0c22;
    }
}

.datos {
    background-color: #0b0c22;
    font-size: 25px;
    width: auto;
    border-radius: 5%;

    box-shadow: 0 0 10px 5px #9fff02;


    .nombre {
        color: #9fff02;
        margin:10px;
        text-align:center;
    }
    .info {
        color: white;
        margin:10px;
        text-align:center;
    
    }
    .link {
        color:#9fff02;
        font-weight: bolder;
    }
}