.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5%;
    margin: 100px;
}

.conimg {
    .imagen {
        width: 50%;
        margin-left: 50px;
        /* box-shadow: 0 0 10px 5px #9fff02; */
    }
}

.datos {
    background-color: #0b0c22;
    font-size: 20px;
    width: auto;
    border-radius: 5%;
    box-shadow: 0 0 10px 5px #9fff02;
    .nombre {
        color: #9fff02;
        margin:10px;
        text-align:center;
    }
    .info {
        color: white;
        margin:10px;
        text-align:justify;
    }
}