.card {
    width: 20%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
    /* overflow: hidden; */
    /* background-color: #c47bc0; */
    background: radial-gradient(ellipse, #694f78, #0f0c21);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 10px 5px #9fff02;
    margin: 2%;


    .datos {
        display: inline-block;
        /* margin: auto; */
        font-size: 22px;
        width: 100px;
        height: 25px;
        max-width: 100%;
        max-height: auto;
        color: white;
        margin: 5%;
        background-color: #0f0c21;
        border-radius: 10%;
        box-shadow: 0 0 10px 5px #9fff02;
    }
    .nombre {
        font-size: 25px;
        font-weight: bolder;
        color: #ffffff;
        background-color: #9fff02;
        text-align: center;
        text-shadow: 0px 0px 10px black;
        width: auto;
        height: auto;
        border-radius: 5%;
        max-width: 100%;
        max-height: auto;
        text-decoration: none;
    }
    .boton {
        float: right;
        background-color: red;
        padding: 2%;
        border-radius: 5px;
        color: white;
        border: 0.5px solid red;
        width: auto;
        max-width: 100%;
        max-height: auto;
        box-shadow: 0 0 10px 5px red;
    }
    .imagen {
        border-radius: 5%;
        margin-block: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 90%;
        max-width: 100%;
        max-height: auto;
        box-shadow: 0 0 8px 2px #e5c1f0;

}

}
