.contenedor {
    display: flex;
    flex-direction: column;
    gap: 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 80px;
    .titulo {
        color: #9eff02;
        text-shadow: 0px 0px 10px black;
        font-size: 50px ;
    }
    .subtitulo {
        color: black;
        text-shadow: 0px 0px 10px #9eff02;
        font-size: 25px;
    }

}

.imagen {
    width: 40%;
}